<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Create Place Listing')">

</head>
<body>

<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>

<main class="hero is-fullheight-with-navbar is-bold is-primary">
   <div class="hero-body columns has-text-centered">
      <div class="container box is-narrow">
         <div class="column is-4 is-offset-4">
            <h1 class="title has-text-dark">
               Rent your own property
            </h1>
            <h2 class="subtitle has-text-dark">
               Just upload a few pictures, input your address and other info,
               and
               the amount you want to receive per day, and we'll take care of
               the
               rest!
            </h2>
         </div>
         <div class="column is-6 is-offset-3">
            <form th:action="@{'/places/' + ${user.id} + '/create'}"
                  method="POST">
               <label for="title">Title: </label>
               <input id="title" name="title" type="text"/>
               <input type="hidden" th:value="${user.id}" th:name="userId">
               <br/>
               <label for="description">Description:</label>
               <input id="description" name="description"/>
               <br/>
               <label for="cost_per_day">Cost per day: </label>
               <input id="cost_per_day" name="cost"/>
               <br/>
               <label for="address">Address: </label>
               <input id="address" name="address"
                      placeholder="Street, city, state, zip" required/>
               <br/>
               <!--    <div id="map" style="height: 400px; width: 400px;"></div>-->
               <div>
                  <h1 class="is-size-3">Choose up to 5 images:</h1>
                     <div class="showModal">
                        <div id="image" style="display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap; background-color: lightgray; height: 125px; width: 700px;"></div>

                  <button class="button showModal" type="button"><i class="fas fa-plus"></i> Image</button>
                     <button type="submit" class="button">Submit</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</main>
<script type="text/javascript" src="/static/js/keys.js"></script>
<script type="text/javascript"
        src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        //filestack js
        let i = 0;
        const client = filestack.init("A30rdWPXTKO66gARONegpz");
        const options = {
            onUploadDone: (res) => $('#image').append(`<input type="hidden" name="image_path` + i + `" value="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}"> <br> <img src="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}" alt="image of place" style="width: 100px; height: 100px;">`)
        };
            $(".showModal").click(function () {
                i++;
                client.picker(options).open();
            });
    });

</script>
</body>
</html>