<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/fragments :: head('Create Place Listing')">

</head>
<body style="background-color: antiquewhite; background-image: url(/img/place.jpg); background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;">
<nav th:include="partials/fragments :: nav" class="is-blue"></nav>

<div>
   <img src="img/green-trees-near-calm-body-of-water-2275221.jpg" style="height: 200px;">
</div>
<main class="hero is-bold" style="margin-top: 4%; display: flex; justify-content: center; width: 100%;">
   <div class="hero-body columns has-text-centered" style="display: flex; justify-content: center;">
      <div class="box" style="width: 70%;">
         <div class="column is-6 is-offset-3">
            <h1 class="is-size-1 has-text-dark">
               List your property:
            </h1>
         </div>
         <div class="column is-8 is-offset-2">
            <form th:action="@{'/places/' + ${user.id} + '/create'}" method="POST">
               <div class="field is-horizontal">
                  <div class="field-label is-normal">
                     <label class="label" for="title">Title: </label>
                  </div>
                  <div class="field-body">
                     <div class="field">
                        <p class="control">
                           <input  class="input is-small" placeholder="Name of your property" id="title" name="title" type="text"/>
                        </p>
                     </div>
                  </div>
               </div>
                  <input type="hidden" th:value="${user.id}" th:name="userId">
               <div class="field is-horizontal">
                  <div class="field-label is-normal">
                     <label class="label" for="cost_per_day" >Cost: </label>
                  </div>
                  <div class="field-body">
                     <div class="field">
                        <p class="control">
                           <input class="input is-small" id="cost_per_day" placeholder="Cost per day " name="cost"/>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="field is-horizontal">
                  <div class="field-label is-normal">
                     <label class="label" for="address">Address: </label>
                  </div>
                  <div class="field-body">
                     <div class="field">
                        <p class="control">
                           <input class="input is-small" id="address" name="address" placeholder="Street, city, state, zip" required/>
                        </p>
                     </div>
                  </div>
               </div>

               <div class="field is-horizontal">
                  <div class="field-label is-normal">
                     <label class="label" for="description">Description:</label>
                  </div>
                  <div class="field-body">
                     <div class="field">
                        <p class="control">
                           <textarea class="textarea is-normal" placeholder="Describe your place." id="description" name="description"></textarea>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="field is-horizontal">
                  <div class="field-label is-normal">
                     <label class="label" for="amenities">Amenities: </label>
                  </div>
                  <div class="field-body">
                     <div class="field">
                        <p class="control">
                           <input  class="input is-small" placeholder="What does your property offer?" id="amenities" name="amenities" type="text"/>
                        </p>
                     </div>
                  </div>
               </div>
               <div class="field is-horizontal">
                  <div class="field-label is-normal">
                     <label class="label" for="activities">Activities: </label>
                  </div>
                  <div class="field-body">
                     <div class="field">
                        <p class="control">
                           <input  class="input is-small" placeholder="What does your property offer?" id="activities" name="activities" type="text"/>
                        </p>
                     </div>
                  </div>
               </div>
               <!--    <div id="map" style="height: 400px; width: 400px;"></div>-->
               <div>
                  <h1 class="is-size-3">Choose up to 5 images:</h1>
                  <div style="display: flex; width: 100%; justify-content: space-evenly; align-items: center; margin-right: 1%;">
                  <button id="showModal"
                          class="button is-medium is-dark showModal"
                          type="button">Add Image
                  </button>
                     <button type="submit" class="button is-medium"
                             style=" width: 139px; background-color: #D0F2C2">Submit</button>
                  </div>
                  <div>
                     <div id="image"
                          style="display: flex; justify-content: space-evenly; align-items: center; flex-wrap: wrap; height: 125px; width: 700px;"></div>


                     <div id="error"></div>

                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</main>
<footer th:include="partials/fragments :: footer"></footer>
<script type="text/javascript" src="/static/js/keys.js"></script>
<script th:include="partials/fragments :: navbarScript"></script>

<script type="text/javascript"
        src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        //filestack js
        let i = 0;
        const client = filestack.init("AKvDThsMuSfy6i2SqnnmUz");
        const options = {
            onUploadDone: (res) => $('#image').append(`<input type="hidden" name="image_path` + i + `" value="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}"> <br> <img src="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}" alt="image of place" style="width: 100px; height: 100px;">`),
        };
        if (i <= 10) {
        //test test
        $("#showModal").click(function () {
            i++;
            client.picker(options).open();
        });
        } else {
            $('#error').append(`<p>Sorry! No more than 5 pictures, please!</p>`)
        }
        //calculating date distances







    });

</script>
</body>
</html>