<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Single Place Page')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <style>
        #map{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 200vh;
        }

        .marker {
            background-image: url('https://secure.webtoolhub.com/static/resources/icons/set101/1dc0e500.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<h1 class="title" th:text="${place.title}"></h1>
<p class="content" th:text="${place.description}"></p>
<p class="user" th:text="${place.cost_per_day}"></p>


<input type="hidden" id="address" th:value="${place.address}">
    <h1 id="address-text" th:text="${place.address}"></h1>
    <div id="map"></div>




<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="/js/keys.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
<script type="text/javascript" src="/js/mapbox-geocoder-utils.js"></script>

<script>

    function geocode(search, token) {
        const baseUrl = 'https://api.mapbox.com';
        const endPoint = '/geocoding/v5/mapbox.places/';
        return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + token)
            .then(function(res) {
                return res.json();
                // to get all the data from the request, comment out the following three lines...
            }).then(function(data) {
                return data.features[0].center;
            });
    }

    mapboxgl.accessToken = mapBoxToken;
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9',
        zoom: 12,
        center: [-98.4936, 29.4241]

    });

    const marker = new mapboxgl.Marker()
        .setLngLat([-98.4936, 29.4241])
        .addTo(map);

    const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        marker: {
            color: 'orange',
            draggable: true
        },
        mapboxgl: mapboxgl
    });


    map.addControl(geocoder);

    var address = $('#address').val();

    geocode(address, mapBoxToken)
        .then(function (result) {
            map.flyTo({ center:result});
            marker.setLngLat(result);

        });

</script>
</body>
</html>