<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Update Page')">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: antiquewhite;">
<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>

<main style="display: flex; justify-content: center; margin: 4%;">
    <div class="card" style="margin-top: 3%; width: 60%;">
        <header class="card-header">
            <p class="card-header-title" style="text-align: center">
                Update Your Place!
            </p>
        </header>
        <form th:action="@{'/places/' + ${place.id} + '/update'}" th:method="POST" th:object="${place}" style="padding: 2%">
            <div class="field">
                <label class="label">Title</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="title" class="input validate" th:field="*{title}" type="text" th:placeholder="${place.title}"/>
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="description" class="input validate" th:field="*{description}" th:placeholder="${place.description}">
                </div>
            </div>
            <input type="hidden" th:field="*{user.id}" th:placeholder="${place.user.id}">
            <div class="field">
                <label class="label">Address</label>
                <p class="control has-icons-left">
                    <input id="address" class="input validate" th:field="*{address}" th:placeholder="${place.address}"/>
                </p>
            </div>
            <div class="field">
                <label class="label">Cost Per Day</label>
                <p class="control has-icons-left">
                    <input id="cost_per_day" class="input validate" th:field="*{cost_per_day}" type="text" th:placeholder="${place.cost_per_day}" />
                </p>
            </div>
            <div class="card-footer" style="width: 100%; display: flex; justify-content: center;">
                <input class="button is-medium" type="submit" value="Update" style="margin-top: 1%; background-color: #D0F2C2"/>
            </div>
        </form>
    </div>
</main>
<script th:include="partials/fragments :: navbarScript"></script>

<script>



</script>
<footer th:include="partials/fragments :: footer"></footer>
</body>
</html>
</body>
</html>