<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('ERROR!')">
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
</head>
<body style="background-color: blanchedalmond">
<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>
<th:block th:switch="${error}">
    <div th:case="'Not Found'">
        <h1>Page not found!!</h1>
    </div>
    <div th:case="'Forbidden'">
        <h1>You don't have permission to view this page.</h1>
    </div>
    <div>
        <h3 class="title centered">So sorry about that. Please go to the home page and try again.</h3>
    </div>
</th:block>
<footer th:include="partials/fragments :: footer"></footer>
</body>
</html>