<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Confirm Booking')">
</head>
<body>
<nav th:insert="partials/fragments :: nav"></nav>
<main>
   <div>
      <h1>Confirm Your Booking:</h1>
      <div>
         <h2 th:text="${place.cost_per_day} + '/day'"></h2>
         <h3>Date: <span th:text="${date}"></span></h3>
         <h3>Address: <span th:text="${place.address}"></span></h3>
         <p th:text="'Description: ' + ${place.description}"></p>
      </div>
      <div>
<!--         <h4 th:text="'Total Cost to be Charged: ' + ${price * numberOfDays}"></h4>-->
      </div>

      <h3></h3>
   </div>

   <form th:action="@{|/charge/{id}|}" th:method='POST' id='checkout-form' xmlns:th="http://www.w3.org/1999/xhtml">
      <input type='hidden' th:value='${amount}' name='amount' />
      <h1>Stripe Price to Process:<span th:text='${place.cost_per_day}' /></h1>
      <script
        src='https://checkout.stripe.com/checkout.js'
        class='stripe-button'
        th:attr='data-key=${stripePublicKey},
         data-amount=${amount}'
        data-name='StackAbuse Services'
        data-description='Product Checkout'
        data-image
          ='http://www.stackabuse.com/assets/images/sa-java-dark.svg?v=b5a08453df'
        data-locale='auto'
        data-zip-code='false'>
      </script>
   </form>
</main>

<footer th:insert="partials/fragments :: footer"></footer>
</body>
</html>