<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Confirm Booking')">
</head>
<body>
<nav th:insert="partials/fragments :: nav"></nav>
<main>
   <section class="hero is-fullheight is-success is-bold">
      <div class="hero-body">
         <div class="box column is-6 is-offset-3 has-text-centered">
            <h1 class="title" style="color: #062E56">
               Confirm Your Booking:
            </h1>
            <h2 class="subtitle has-text-grey-darker">
               <p
                 th:text="'$' + ${place.cost_per_day} + ' per day * # DAYS'"></p>
               <p><span class="has-text-weight-bold"> Date: </span><span
                 th:text="${date}"></span></p>
               <p><span class="has-text-weight-bold">Address: </span> <span
                 th:text="${place.address}"></span></p>
            </h2>
            <form th:action="@{|/charge/{id}|}" th:method='POST'
                  id='checkout-form'
                  xmlns:th="http://www.thymeleaf.org">
               <input type='hidden' th:value='${amount}' name='amount' />
               <input type='hidden' th:value="${userId}" name="userId"/>
               <input type='hidden' th:value="${place.id}" name="placeId"/>
<!--               <input type='hidden' th:value="${booking.dateStart}" name="dayStart" />-->
<!--               <input type='hidden' th:value="${booking.dateEnd}" name="dayEnd" />-->

               <script
                 src='https://checkout.stripe.com/checkout.js'
                 class='stripe-button'
                 th:attr='data-key=${stripePublicKey},

         data-amount=${(amount * 100)}'

                 data-name='Rent The Outdoors'
                 data-description='Booking Confirmation'
                 data-image='https://images.pexels.com/photos/39854/fisherman-fishing-reel-river-39854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
                 data-locale='auto'
                 data-zip-code='false'>
               </script>
            </form>
         </div>
      </div>
   </section>
</main>

<footer th:insert="partials/fragments :: footer"></footer>
</body>
</html>