<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('ERROR!')">
</head>
<body>
<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>
<div class="column is-3 is-three-quarters-mobile">
    <div class="card" style="margin: 0 2% 0 2%">
        <div class="card-header centered">
            <img th:src="${'img/man-sitting-on-concrete-bench-3635945.jpg'}">
         <h1 class="title">We've failed you for the last time.</h1>
            <h2 class="subtitle">So sorry about that. Please go to the home page and try again.</h2>
    </div>
    </div>
</div>
<footer insert="partials/fragments :: footer"></footer>
</body>
</html>