<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Home Page')">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>
<main>
   <!--   this is a comment so that i can test production capability-->
   <div class="hero" style="
            background-image: url('img/adventure-bg.jpg');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            height: 45vh;">
      <div class="container is-widescreen centered">
         <form method="GET" action="/search" class="column is-mobile"
               style="margin-top: 5%;">
            <div class="column is-two-thirds field has-addons">
               <input class="input is-success control" type="text"
                      placeholder="Find Your Outdoors" name="search">
               <button class="button is-primary is-3 control" type="submit"><strong>Search</strong></button>
            </div>
            <div class="columns is-hidden-touch">
               <div id="checkboxes" class="column is-8 is-relative">
                  <strong class="has-text-light" id="cats" style="margin-right: 2%;">Categories:</strong>
                  <input type="checkbox" name="huntCheck" value="hunting" id="hunt-check" class="check">
                  <label class="check-label" for="hunt-check"><img src="img/hunt_icon.png" alt="hunt" style="height: 50px; width: 50px;"></label>
                  <input type="checkbox" name="campCheck" value="camping" id="camp-check" class="check">
                  <label class="check-label" for="camp-check"><img src="img/tent_icon.png" alt="tent" style="height: 50px; width: 50px;"></label>
                  <input type="checkbox" name="fishCheck" value="fishing" id="fish-check" class="check">
                  <label class="check-label" for="fish-check"><img src="img/fish_icon.png" alt="fish" style="height: 50px; width: 50px;"></label>
                  <input type="checkbox" name="boatCheck" value="boating" id="boat-check" class="check">
                  <label class="check-label" for="boat-check"><img src="img/boat_icon.png" alt="boat" style="height: 50px; width: 50px;"></label>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div class="centered title" style="margin-top: 5%;">
      <h1>Find Your Adventure Today!</h1>
   </div>
   <div style="display: flex">
      <div th:each="place,pStat : ${places}" th:if="${pStat.count < 5}" class="columns" style="margin-top: 2%">
         <div class="column is-8" style="margin-left: 15%; margin-right: 0">
            <a th:href="@{'/place/' + ${place.id}}">
            <div class="card" style="height: 100%; width: 100%">
               <div th:each="image,iStat : ${place.placeImages}">
                  <img th:if="${iStat.first}" th:src="${image.imagePath}" style="width: 400px; height: 200px;"></img>
               </div>
               <div class="card-header centered">
                  <p><strong th:text="${place.title}"></strong></p>
               </div>
               <div class="card-content"><small th:text="${place.description}"></small>
               </div>
            </div>
               </a>
         </div>
      </div>
   </div>
</main>
</body>
</html>