<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Home Page')">
</head>
<body>
<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>
<main>
   <!--   this is a comment so that i can test production capability-->
   <div class="hero" style="
            background-image: url('img/adventure-bg.jpg');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            height: 45vh;">
      <div class="container is-widescreen centered">
         <form method="GET" action="#" class="column is-mobile"
               style="margin-top: 5%;">
            <div class="column is-two-thirds field has-addons">
               <input class="input is-success control" type="text"
                      placeholder="Find Your Outdoors">
               <a class="button is-primary is-3 control "><strong>Search</strong></a>
            </div>
            <div class="columns is-hidden-touch">
               <div id="checkboxes" class="column is-8 is-relative">
                  <strong class="has-text-light" id="cats" style="margin-right: 2%;">Categories:</strong>
                  <input type="checkbox" name="check-group" value="hunting" id="hunt-check" class="check">
                  <label class="check-label" for="hunt-check"><img src="img/hunt_icon.png" alt="hunt" style="height: 50px; width: 50px;"></label>
                  <input type="checkbox" name="check-group" value="camping" id="camp-check" class="check">
                  <label class="check-label" for="camp-check"><img src="img/tent_icon.png" alt="tent" style="height: 50px; width: 50px;"></label>
                  <input type="checkbox" name="check-group" value="fishing" id="fish-check" class="check">
                  <label class="check-label" for="fish-check"><img src="img/fish_icon.png" alt="fish" style="height: 50px; width: 50px;"></label>
                  <input type="checkbox" name="check-group" value="boating" id="boat-check" class="check">
                  <label class="check-label" for="boat-check"><img src="img/boat_icon.png" alt="boat" style="height: 50px; width: 50px;"></label>
               </div>
            </div>
         </form>
      </div>
   </div>
   <div class="centered title" style="margin-top: 5%;">
      <h1>Find Your Adventure Today!</h1>
   </div>

   <div class="columns" style="margin-top: 2%;">
      <div class="column is-3">
         <div class="card" style="margin: 0 2% 0 2%">
            <img src="img/adventure-calm-clouds-dawn-414171.jpg"
                 style="width: 400px; height: 200px;">
            <div class="card-header centered">
               <p>Random Post 1</p>
            </div>
            <div class="card-content">Here is a description of random post 4.
            </div>
         </div>
      </div>
      <div class="column is-3">
         <div class="card" style="margin: 0 2% 0 2%;">
            <img src="img/green-trees-near-calm-body-of-water-2275221.jpg"
                 style="width: 400px; height: 200px;">
            <div class="card-header centered">
               <p>Random Post 2</p>
            </div>
            <div class="card-content">Here is a description of random post 4.
            </div>
         </div>
      </div>
      <div class="column is-3">
         <div class="card" style="margin: 0 2% 0 2%;">
            <img src="img/two-men-fishing-on-lake-1630039.jpg"
                 style="width: 400px; height: 200px;">
            <div class="card-header centered">
               <p>Random Post 3</p>
            </div>
            <div class="card-content">Here is a description of random post 4.
            </div>
         </div>
      </div>
      <div class="column is-3">
         <div class="card" style="margin: 0 2% 0 2%;">
            <img src="img/flock-of-birds-917494.jpg"
                 style="width: 400px; height: 200px;">
            <div class="card-header centered">
               <p>Random Post 4</p>
            </div>
            <div class="card-content">Here is a description of random post 4.
            </div>
         </div>
      </div>
   </div>
</main>
</body>
</html>