<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>

    <style>
        #map{
            width: 100%;
            height: 500px;
        }
    </style>

    <title>Testing mapbox conenctivitiy</title>
</head>
<body>

<div id="map">

</div>

<script type="text/javascript" src="/js/keys.js"></script>
<script type="text/javascript" src="/js/mapbox_api.js"></script>


</body>
</html>