<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Profile Page')">
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>

<div id="imgHere"></div>


<!--<input id="img" th:field="*{img}" placeholder="Upload Image" required/>-->


<script type="text/javascript" src="/js/keys.js"></script>
<script type="text/javascript" src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        let client = filestack.init(fileStackKey);
        let options = {
            onUploadDone: (res) => $('#imgHere').append(`<input id="picture"  src="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}">`),
        };
        client.picker(options).open();

    });
</script>

</body>
</html>