<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:insert="partials/fragments :: head('RTO Register')">-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--   <nav th:insert="partials/fragments :: nav" class="is-blue"></nav>-->

<!--   <div class="column is-3 is-three-quarters-mobile">-->
<!--      <div class="card" style="margin: 0 2% 0 2%">-->
<!--         <div class="card-header centered">-->
<!--            <p>Register</p>-->
<!--         </div>-->
<!--         <form th:action="@{/users/create}" method="POST" th:object="${user}">-->
<!--            <label for="username">Username</label>-->
<!--            <input id="username" th:field="*{username}"/>-->

<!--            <label for="email">Email</label>-->
<!--            <input id="email" th:field="*{email}"/>-->

<!--            <label for="password">Password</label>-->
<!--            <input id="password" type="password" th:field="*{password}"/>-->
<!--            -->
<!--            <label for="confirmPassword">Confirm Password</label>-->
<!--            <input id="confirmPassword" type="password" th:field="${confirmPassword}">-->

<!--            <label for="firstName">First Name:</label>-->
<!--            <input id="firstName" type="text" th:field="${firstName}">-->
<!--            -->
<!--            <label for="lastName">Last Name:</label>-->
<!--            <input id="lastName" type="text" th:field="${lastName}">-->
<!--            -->
<!--            -->
<!--            -->
<!--            -->
<!--            -->
<!--            <input value="Sign me up!" type="submit"/>-->
<!--         </form>-->
<!--      </div>-->
<!--   </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->