<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/fragments :: head('Search Results')">
<body style="height: 100vh;">
<nav th:include="partials/fragments :: nav"></nav>
<main>
   <div style="">
      <div th:each="place : ${searchQuery}" class="columns centered" style="margin: 5%;">
         <div class="column is-3">
            <div class="card" style="margin: 0 2% 0 2%">
               <img src="img/adventure-bg.jpg"
                    style="width: 400px; height: 200px;">
               <div class="card-header centered">
                  <p>
                     <strong th:text="${place.title}"></strong>
                     <br>
                     <strong th:text="${place.address}"></strong>
                     <br>
                     <small th:text="'$' + ${place.cost_per_day} + '/day'"></small>
                  </p>
               </div>
               <div class="card-content">
                  <p th:text="${place.description}"></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>
<footer th:include="partials/fragments :: footer"></footer>
</body>
</html>