<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Search Results')">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: antiquewhite; padding: 0"
      class="has-navbar-fixed-bottom">
<nav th:include="partials/fragments :: nav"></nav>
<div class="hero" id="search" style="
            background-image: url('img/adventure-bg.jpg');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: cover;
            height: 30vh;
            margin-top: 4%;">
   <div class="container is-widescreen centered">
      <form method="GET" action="/search" class="column is-mobile">
         <div class="column is-two-thirds field has-addons">
            <input class="input is-success control" type="text"
                   placeholder="Find Your Outdoors" name="search">
            <button class="button is-primary is-3 control" type="submit">
               <strong>Search</strong></button>
         </div>
         <div class="columns is-hidden-touch">
            <div id="checkboxes" class="column is-8 is-relative"
                 style="display: flex;">
               <strong class="has-text-light is-size-2" id="cats"
                       style="margin-right: 2%;">Categories:</strong>
               <div style="display: flex;" class="has-text-centered">
                  <input type="checkbox" name="huntCheck" value="hunting"
                         id="hunt-check" class="check">
                  <label class="check-label has-text-light is-size-4"
                         for="hunt-check"><img
                    src="img/hunt_icon.png" alt="hunt"
                    style="height: 50px; width: 50px;">Hunting</label>
               </div>
               <div style="display: flex;" class="has-text-centered">
                  <input type="checkbox" name="campCheck" value="camping"
                         id="camp-check" class="check">
                  <label class="check-label has-text-light is-size-4"
                         for="camp-check"><img
                    src="img/tent_icon.png" alt="tent"
                    style="height: 50px; width: 50px;">Camping</label>
               </div>
               <div style="display:flex;" class="has-text-centered">
                  <input type="checkbox" name="fishCheck" value="fishing"
                         id="fish-check" class="check">
                  <label class="check-label has-text-light is-size-4"
                         for="fish-check"><img
                    src="img/fish_icon.png" alt="fish"
                    style="height: 50px; width: 50px;">Fishing</label>
               </div>
               <div class="has-text-centered">
                  <input type="checkbox" name="boatCheck" value="boating"
                         id="boat-check" class="check">
                  <label class="has-text-light check-label is-size-4"
                         for="boat-check"><img
                    src="img/boat_icon.png" alt="boat"
                    style="height: 50px; width: 50px;">Boating</label>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<main style="margin-top: 2%; margin-bottom: 2%">
   <div>
      <div th:if="${searchQuery.size() > 0}"
           th:each="place,plStat : ${searchQuery}"
           class="columns centered is-relative">
         <div th:if="${plStat.count < 11}" class="column is-8">
            <a th:href="@{'place/' + ${place.id}}">
               <div class="card" style="display: flex">
                  <div th:each="image,iStat : ${place.placeImages}"
                       style="height: 200px">
                     <img th:if="${iStat.first}" th:src="${image.imagePath}"
                          style="width: 325px; height: 200px;">
                  </div>
                  <div class="card-content" style="margin-left: 2%;">
                     <p>
                        <strong th:text="${place.title}"></strong>
                        <br>
                        <strong th:text="${place.address}"></strong>
                        <br>
                        <small
                          th:text="'$' + ${place.cost_per_day} + '/day'"></small>
                        <small th:text="${place.description}"></small>
                     </p>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <div th:if="${searchQuery.size() == 0}">
         <div class="card column is-6 is-offset-3 has-text-centered" style="padding: 2%;">
            <h1 class="is-size-1">Sorry, no results found.</h1>
            <h2 class="is-size-2">Please try again!</h2>
         </div>
      </div>
   </div>
</main>
<footer th:include="partials/fragments :: footer"></footer>
<script src="js/main.js"></script>
</body>
</html>