<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title)">

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>
   <link rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
   <script defer
           src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
   <script src="js/main.js"></script>
   <link rel="stylesheet" href="css/main.css">
   <title th:text="${title}"></title>
</head>
<body>
<nav th:fragment="nav">
   <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
         <a class="navbar-item" href="/">
            <strong>RTO</strong>
         </a>

         <a role="button" class="navbar-burger burger" aria-label="menu"
            aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
         </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
         <div class="navbar-start">
            <a class="navbar-item" href="/search?search=">
               Book Now
            </a>
            <a class="navbar-item" href="/places/create">
               Rent Your Outdoors
            </a>
         </div>
      </div>
      <div class="navbar-end">
         <div class="navbar-item">
            <div class="buttons">
               <form sec:authorize="isAuthenticated()" th:action="@{/logout}" class="level" th:method="post">
                  <button class="button is-danger">Logout</button>
               </form>
               <a class="button is-primary" href="/users/create">
                  <strong>Register</strong>
               </a>
               <a class="button is-light" href="/users/login">
                  Login
               </a>
            </div>
         </div>
      </div>
   </nav>
</nav>


<footer th:fragment="footer">
   <a href="#">Contact Us</a>
</footer>
</body>
</html>