<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:fragment="head(title)">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

<!--   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css'-->
<!--         rel='stylesheet'/>-->

   <!--calendar stuff-->
   <link rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
   <link href='/lib/fullcalendar/packages/core/main.css' rel='stylesheet' />
   <link href='/lib/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

   <script src='/lib/fullcalendar/packages/core/main.js'></script>
   <script src='/lib/fullcalendar/packages/daygrid/main.js'></script>

   <!--mapbox stuff-->
   <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>
   <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
   <link rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
   <script src="https://kit.fontawesome.com/927b51fa66.js"
           crossorigin="anonymous"></script>

   <script defer
           src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

   <!--custom js and css-->
   <script src="js/main.js"></script>
   <link rel="stylesheet" href="/css/main.css">

</head>





<body>
<nav th:fragment="nav">

   <!--nav start-->
   <nav class="navbar is-dark is-fixed-top sticky" role="navigation"
        aria-label="main navigation">

      <a id="rto" class="navbar-item" href="/"><strong>RTO</strong></a>

         <div class="navbar-start">
            <a class="navbar-item" aria-label="main navigation" href="/search?search=">
               <strong>Search</strong>
            </a>

            <a class="navbar-item" href="/places/create">
               <strong>List Your Property</strong>
            </a>
         </div>

      <div class="navbar-menu" style="width: 100px"></div>


      <div class="navbar-end">
            <a id="registerBtn" sec:authorize="not isAuthenticated()"
               href="/users/create" class="navbar-item">
               <strong>Register</strong>
            </a>

            <a id="loginBtn" sec:authorize="not isAuthenticated()"
               class="navbar-item is-dark"
               href="/users/login">
               <strong>Login</strong>
            </a>
         </div>

         <div class="navbar-item" style="display: flex; align-items: center; margin-left: auto;">
            <form sec:authorize="isAuthenticated()" th:action="@{/profile}"
                  th:method="get">
               <a class="navbar-item" th:href="@{/profile}">
                  <strong>Profile</strong>
               </a>
            </form>

            <form id="my_form" sec:authorize="isAuthenticated()"
                  th:action="@{/logout}" th:method="post">
               <a href="javascript:{}"
                  onclick="document.getElementById('my_form').submit();"
                  class="navbar-item is-dark" type="submit">
                  <strong>Logout</strong>
               </a>
            </form>
         </div>

   </nav>

</nav>


<footer th:fragment="footer" class="footer" style="padding: 0; ">
   <!--   <div class="content has-text-centered">-->
   <!--      <ul style="display: flex;">-->
   <!--         <strong><h4>Contact Us:</h4></strong>-->
   <!--         <li><a target="_blank" href="https://github.com/barrowjacob"><i-->
   <!--           class="fab fa-github-square"></i>Jacob</a></li>-->
   <!--         <li><a target="_blank" href="https://github.com/navirgino"><i class="fab fa-github-square"></i>Nico</a>-->
   <!--         </li>-->
   <!--         <li><a target="_blank" href="https://github.com/MrOffer"><i class="fab fa-github-square"></i>Thomas</a>-->
   <!--         </li>-->
   <!--      </ul>-->
   <!--   </div>-->
   <div class="content has-text-centered" style="display: flex; align-items: center;">
      <div class="cutoff" style="width: 100vw;">
         <strong><h2 class="has-text-light" style="margin-top: 2%;">Contact Us </h2></strong>

         <div style="display: flex; justify-content: center; align-items: center;">
         <form method="GET" action="https://github.com/barrowjacob" style="margin-right: 2%;">
            <button class="button is-dark"><i class="fab fa-github-square"></i> Jacob
            </button>
         </form>

         <form method="GET" action="https://github.com/navirgino" style="margin-right: 2%;">
            <button class="button is-dark"><i class="fab fa-github-square"></i> Nico
            </button>
         </form>

         <form method="GET" action="https://github.com/MrOffer" style="margin-right: 2%;">
            <button class="button is-dark"><i class="fab fa-github-square"></i> Thomas
            </button>
         </form>
         </div>

         <div style="margin-top: 3%;">
            <strong><a target="_blank" href="https://icons8.com/icons/set/fishing-hook">Fishing
               Hook</a>, <a target="_blank" href="https://icons8.com/icons/set/oar">Oar</a>
            <span class="has-text-light">and other icons by</span> <a target="_blank" href="https://icons8.com">Icons8</a></strong>
         </div>

      </div>
   </div>
</footer>
<script>
   document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

         // Add a click event on each of them
         $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

               // Get the target from the "data-target" attribute
               const target = el.dataset.target;
               const $target = document.getElementById(target);

               // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
               el.classList.toggle('is-active');
               $target.classList.toggle('is-active');

            });
         });
      }

   });
</script>
</body>
</html>