<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='/lib/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/lib/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

    <script src='/lib/fullcalendar/packages/core/main.js'></script>
    <script src='/lib/fullcalendar/packages/daygrid/main.js'></script>

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <style>
        #map{
            width: 100%;
            height: 80vh;
        }
    </style>
    <title th:text="${title}"></title>
</head>
<body>


<footer th:fragment="mapbox_scripts">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="/js/keys.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.1/mapbox-gl-geocoder.min.js'></script>
    <script type="text/javascript" src="/js/mapbox-geocoder-utils.js"></script>
</footer>

</body>
</html>