<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/fragments :: head('Register Page')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: antiquewhite; height: 100%;">
<nav th:include="partials/fragments :: nav" class="is-blue"></nav>
<main style="display: flex; justify-content: center;">
    <div class="card" style="width: 65%; margin-top: 6%; margin-bottom: 2%;">
        <header class="card-header">
            <p class="card-header-title" style="text-align: center">
                Register!
            </p>
        </header>
        <form th:action="@{'/users/create'}" th:method="POST" th:object="${user}" style="padding: 2%">
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="username" class="input validate" type="text" placeholder="Username" th:field="*{username}"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                     </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="email" class="input validate" type="email" placeholder="Email" th:field="*{email}"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                    <input id="password" class="input validate" type="password" placeholder="Password" th:field="*{password}"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">First Name:</label>
                <p class="control has-icons-left">
                    <input id="firstName" class="input validate" type="text" placeholder="First Name" th:field="*{first_name}"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label" for="lastName">Last Name:</label>
                <p class="control has-icons-left">
                    <input id="lastName" class="input" type="text" placeholder="Last Name" th:field="*{last_name}"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label" for="phoneNum">Phone Number:</label>
                <p class="control has-icons-left">
                <input class="input" id="phoneNum" placeholder="Phone Number" type="text" th:field="*{phone_num}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-phone"></i>
                    </span>
                </p>
            </div>
            <footer class="card-footer">
                <input class="button is-medium is-primary" type="submit" value="Register" style="margin-top: 1%; margin-left: 50%"/>
            </footer>
        </form>
    </div>
</main>
<script>



</script>
<footer th:include="partials/fragments :: footer" class="footer"></footer>
    <!--   <div class="content has-text-centered">-->
    <!--      <ul style="display: flex;">-->
    <!--         <strong><h4>Contact Us:</h4></strong>-->
    <!--         <li><a target="_blank" href="https://github.com/barrowjacob"><i-->
    <!--           class="fab fa-github-square"></i>Jacob</a></li>-->
    <!--         <li><a target="_blank" href="https://github.com/navirgino"><i class="fab fa-github-square"></i>Nico</a>-->
    <!--         </li>-->
    <!--         <li><a target="_blank" href="https://github.com/MrOffer"><i class="fab fa-github-square"></i>Thomas</a>-->
    <!--         </li>-->
    <!--      </ul>-->
    <!--   </div>-->
</body>
</html>