<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Register Page')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>
<main>
    <form th:action="@{'/users/create'}" th:method="POST" th:object="${user}">

        <label for="username">Username</label>
        <input id="username" type="text" class="validate" th:field="*{username}" />

        <label for="email">Email</label>
        <input id="email" type="text" class="validate" th:field="*{email}" />

        <label for="password">Password</label>
        <input id="password" type="text" class="validate" th:field="*{password}" />

        <label for="firstName">First Name:</label>
        <input id="firstName" type="text" th:field="${user.first_name}">

        <label for="lastName">Last Name:</label>
        <input id="lastName" type="text" th:field="${user.last_name}">

        <label for="phoneNum">Phone Number:</label>
        <input id="phoneNum" type="text" th:field="${user.phone_num}">

        <input type="submit" value="Sign up!">
    </form>
</main>

</body>
</html>