<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="partials/fragments :: head('Login Page')">
   <meta charset="UTF-8">
   <title>Login Page</title>
</head>

<body style="background-color: antiquewhite; height: 100%;  margin-top: 4%;">
    <nav th:include="partials/fragments :: nav" class="is-blue"></nav>
<div style="display: flex; justify-content: center; align-items: center; padding: 6%; width: 100%; flex-direction: column; margin-top: 4%; height: 90vh;">
    <div th:if="${param.error}" style="margin: 5%; font-size: 18px; background-color: #1e2b37; padding: 1%">
        <strong style="color: white">Invalid Username and Password!</strong>
    </div>
    <div th:if="${param.logout}" style="margin: 5%; font-size: 18px; background-color: #1e2b37; padding: 1%">
        <strong style="color: white">You have been logged out!</strong>
    </div>

    <div class="card" style="margin: 7%;">
        <header class="card-header">
            <p class="card-header-title">
                Log In!
            </p>
        </header>
        <div class="card-content">
            <form th:action="@{/users/login}" method="post">
                <div class="field">
                    <label class="label" for="username">Username</label>
                    <div class="control has-icons-left">
                        <input id="username" class="input" name="username" type="text"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password">Password</label>
                    <div class="control has-icons-left">
                        <input id="password" class="input" name="password" type="password"/>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
                <footer class="card-footer">
                    <input class="button is-medium is-dark" type="submit" value="Log In" style="margin-top: 1%; margin-left: 30%"/>
                </footer>
             </form>
        </div>
    </div>
</div>
    <footer th:include="partials/fragments :: footer"></footer>
    <script src="js/main.js"></script>
    <script th:include="partials/fragments :: navbarScript"></script>


</body>
</html>