<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="partials/fragments :: head">
   <title> RTO: Profile</title>
</head>
<body style="background-color: #FEEBCD; min-height: 102%; ">

<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>
<!---->
<div class="hero is-small"
     style="background-image: url('img/adventure-bg.jpg'); background-position: center; height: 45vh;">
   <div class="hero-body">
      <div th:if="${confirmation != null}">
         <p id="confirmCheck"  th:value="${confirmation}"></p>
      </div>
      <!-- confirmation works. jsut need to set up modal now-->
      <div class="modal" id="confirmModal">
         <div class="modal-background"></div>
         <div class="modal-card">
            <section class="modal-card-body" style="padding: 15px 15px 0 15px;">
               <h2 class="is-size-4">Your booking has been confirmed!</h2>
               <h2 class="is-size-4">A confirmation email will be sent shortly.</h2>
               <div class="modal-card-foot">
                  <button class="button is-dark " id="closeModal" aria-label="close">
                     Okay!
                  </button>
               </div>
            </section>
         </div>
      </div>
   </div>
   <div
     style="display: flex; flex-direction: column; width: 400px; border-radius: 15%; padding-top: 6%;">
      <div style="display: flex; align-items: center; margin-bottom: 1%; padding-left: 15%; ">

         <img th:if="${user.image_path == null}" src="img/user.jpg" style="border-radius: 50%; border: solid white 4px;
               width: 15vw;  height: 15vh; background-position: center;">
         <img th:if="${user.image_path != null}" th:src="${user.image_path}"
              style="border-radius: 50%; border: solid white 4px;
               width: 15vw; height: 15vh; background-position: center;">
         <strong th:text="${user.username}"
                 class="has-text-light"
                 style="font-size: 50px; margin-left: 5%;"></strong>
      </div>
      <div>
         <div th:if="${loggedInUser != null && loggedInUser.id == user.id}" style="padding-top: 5%; padding-left: 20%; padding-bottom: 15%">

            <form id="profImage" th:action="@{'/profile/' + ${user.id}}"
                  th:method="POST"
                  style="display: flex; justify-content: center; width: 70%;">
               <button id="upload" class="button is-small" type="button"
                       style="background-color: #D0F2C2;">Upload Image

               </button>
               <button id="submit" type="submit"
                       class="button is-dark is-small">
                  Submit
               </button>

               <div id="image"></div>
            </form>

         </div>
      </div>
   </div>
</div>
<div style="height: 60%; background-color: antiquewhite">
<div class="columns"
     style="margin-top: 1%; margin-bottom: 2%; background-color: antiquewhite;">
   <div class="container card column is-9"
        style="border-radius: 3%; display: flex; align-items: center; flex-direction: column; height: 50%;">
      <div class="column is-4 is-offset-1">
         <h2 th:if="${userPlaces != null && userPlaces.size() > 0}" class="is-size-2"
             style="width: 100%;"
             th:text="${user.username} + '\'s Listings'"></h2>
      </div>
      <div class="column is-12"
           style="display: flex; justify-content: center; flex-wrap: wrap;">
         <div th:if="${userPlaces.size() > 0}" th:each="place : ${userPlaces}"
              style=" margin: 0 15px 15px 15px;">
            <a th:href="@{'/place/' + ${place.id}}">
               <div class="card"
                    style="max-height: 30vh; width: 20vw;">
                  <div class="card-image">
                     <div th:each="item,iStat : ${place.placeImages}">
                        <img th:if="${iStat.first}" th:src="${item.imagePath}"
                             style="height: 15vh; width: 20vw; ">
                     </div>
                  </div>
                  <div class="card-header"
                       style="display: flex; justify-content: center; white-space: nowrap; overflow: hidden; box-shadow: none;">
                     <strong><span th:text="${place.title}"></span></strong>
                  </div>
                  <div style="display: flex; justify-content: start;"
                       th:if="${loggedInUser.id == user.id}">
                     <form
                       th:action="@{'/places/' + ${place.id} + '/update'}"
                       method="GET">
                        <button class="button is-small is-white"><i
                          class="fas fa-wrench" ></i></button>
                     </form>
                     <form
                       th:action="@{'/places/' + ${place.id} + '/delete'}"
                       method="POST" >
                        <button class="button is-small is-white" style="padding-left: 0;"><i
                          class="fas fa-trash" ></i></button>
                     </form>
                  </div>
               </div>
            </a>
         </div>
      </div>
      <div th:if="${userPlaces == null}"
           style="padding-bottom: 2%; display: flex; justify-content: center; width: 45%;">
         <h1 class="is-size-3">You don't have any listings yet! To add one,
            click <a href="/places/create">here</a></h1>
      </div>
   </div>
</div>
</div>


<footer th:insert="partials/fragments :: footer"></footer>

<!--begin scripts-->
<script th:include="partials/fragments :: navbarScript"></script>

<!--<script type="text/javascript" src="/static/js/keys.js"></script>-->
<script type="text/javascript"
        src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        const client = filestack.init("AKvDThsMuSfy6i2SqnnmUz");
        const options = {
            onUploadDone: (res) => {
                $('#image').append(`<input type="hidden" name="image_path" value="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}">`);
            }
        };
        $("#upload").click(function () {
            client.picker(options).open();
        });
        if ($('#confirmCheck').val() != null) {
            $('#confirmModal').toggleClass("is-active");
        }
        $('#closeModal').click(function () {
            $('#confirmModal').toggleClass("is-active");
        })
    });
</script>
</body>
</html>