<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/fragments :: head('Profile Page')">
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
<nav th:insert="partials/fragments :: nav" class="is-blue"></nav>


<br/>

<div class="modal">
<!--    <form th:action="@{'users/' + ${user.id} + '/profile'}" th:method="POST" th:object="${user}">-->
<!--        <label for="urlPattern">Image: </label>-->
<!--        <input id="urlPattern" th:field="*{image_path}" type="text">-->
<!--        <button class="button is-small is-success is-outlined">SUBMIT</button>-->
<!--    </form>-->
</div>


<button id="showModal" class="button" type="button">Upload Image</button>


<script type="text/javascript" src="/static/js/keys.js"></script>
<script type="text/javascript" src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

        const client = filestack.init(fileStackKey);
        const options = {
            onUploadDone: (res) => $('#urlPattern').append(`https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}`)
        };


        $("#showModal").click(function(){
            $('.modal').toggleClass('is-active');
            client.picker(options).open();
        });
        $("#closeModal").click(function(){
            $('.modal').removeClass('is-active');
        });

    });
    //     let options = {
    //         onUploadDone: (res) => $('#imgHere').append(`<input id="picture"  src="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}">`),
    //     };
    //     client.picker(options).open();
    //
    // });


    /////////
    // $(document).ready(function () {
    //
    //     const client = filestack.init(fileStackKey);
    //
    //     const options = {
    //         onUploadDone: (res) => $('#imgPath').val(`<input id="picture"  src="https://cdn.filestackcontent.com/${res.filesUploaded[0].handle}">`),
    //     };
    //
    //     $("#showModal").click(function () {
    //
    //         $(".modal").addClass("is-active");
    //
    //         client.picker(options).open();
    //
    //     });
    //
    //     $('#closeModal').click(function () {
    //         $(".modal").removeClass("is-active");
    //         client.picker(options).close();
    //
    //     })
    //
    //     // const imgInput = $('#imagePath').val();
    //     // const option = {
    //     //     onUploadDone: (res) => imgInput
    //     // }
    //
    //
    // });
</script>

</body>
</html>